.container {
  display: flex;
  justify-content: center;
  min-height: 90vh;
  align-items: center;
  margin-top: -50px;

  .main-page {
    display: flex;
    width: 70%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .left-side {
      width: 40%;
      padding: 1rem 1.5rem; /* Add padding for spacing */

      .form {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        .field-input {
          display: flex;
          flex-direction: column;
          text-align: left;
          width: 100%; /* Ensure it takes full width of .left-side */

          .options {
            display: flex;
            width: 100%;
            overflow-x: auto;
            gap: 8px;
            cursor: grab;

            .options-item {
              display: flex;
              justify-content: center;
              align-items: center;
              width: calc(91% / 4);
              padding: 4px;
              border: 1px solid #d2d0d0;
              border-radius: 4px;
              flex-shrink: 0;

              img {
                width: 100%;
                border-radius: 4px;
                object-fit: cover;

                &:hover {
                  transform: scale(1.05);
                }
              }
            }

            .selected {
              background: #95e6fa;

              img {
                transform: scale(1.02);
              }
            }
          }

          .more-styles {
            display: flex;
            width: 100%;
            margin-top: 0.4rem;
          }

          span {
            font-size: 1.2em;
            font-weight: 400;
            width: 100%;
          }
        }

        .btn-generate {
          width: 100%;
          border-radius: 16px;
          padding: 1.2rem 3rem;
          background-color: red;
        }
      }
    }

    .right-side {
      width: 60%;
      height: auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .image-ai-container {
        display: flex;
        min-width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        .image-ai {
          position: relative;
          max-width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 16px;
        }
      }

      .swiper-images {
        border-radius: 16px;

        .image-item {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            min-width: 100%;
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .container {
    .main-page {
      flex-direction: column-reverse;

      .left-side {
        width: 100% !important;
      }
      .right-side {
        width: 100% !important;
      }
    }
  }
}
