.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  margin-top: -50px;
  .main-page {
    display: flex;
    width: 60%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .left-side {
      width: 40%;
      .form {
        margin: 1rem 1.5rem;

        .field-input {
          min-width: 100%;
          display: flex;
          flex-direction: column; /* Bố trí dạng cột */
          text-align: left;
          overflow: hidden;
          gap: 0.5rem;
          .options {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            overflow-x: auto;
            gap: 8px;
            cursor: grab; /* Con trỏ khi di chuyển */

            .options-item {
              display: flex;
              justify-content: center;
              padding: 4px;
              border: 1px solid #d2d0d0;
              border-radius: 4px;
              flex-shrink: 0;

              img {
                width: 49px;
                border-radius: 4px;
                object-fit: cover;

                &:hover {
                  transform: scale(1.05);
                }
              }
            }
            .selected {
              background: #737272;

              img {
                scale: 1.05;
              }
            }
          }
          .more-styles {
            display: flex;
            width: 100%;
            margin-top: 0.4rem;
          }

          span {
            // margin-bottom: 0.5rem;
            font-size: 1.2em;
            font-weight: 400;
            width: 100%;
          }
        }

        .btn-generate {
          width: 50%;
          border-radius: 16px;
          background-color: red;
        }
      }
    }
    .right-side {
      width: 60%;
      .swiper-images {
        // padding: 1.5rem;
        width: 100%;
        height: 100%;
        border-radius: 16px;

        .image-item {
          display: flex; // Thêm để căn giữa hình ảnh
          justify-content: center; // Căn giữa theo chiều ngang
          align-items: center; // Căn giữa theo chiều dọc
          height: 100%; // Đảm bảo chiều cao của item chiếm toàn bộ chiều cao của swiper

          img {
            max-width: 100%; // Đảm bảo hình ảnh không vượt quá chiều rộng của item
            height: auto; // Để chiều cao tự động theo tỷ lệ
          }
        }
      }
    }
  }
}
