.user_comment {  
  .ant-collapse-header-text {
    font-weight: 500;
  }
  .ant-collapse-content-box {
  }

  .comment {
    display: flex;
    padding: 0;
    align-items: flex-start;
    gap: 10px;
    max-width: 100%;
    .avatar {
      flex-shrink: 0;

      img {
        margin-top: 5px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
        object-fit: contain;
        transition: transform 0.2s ease-in-out;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }

    .content {
      flex: 1;
      max-width: 17.5rem;

      .header_content {
        display: flex;
        align-items: baseline;

        strong {
          display: block;
          font-size: 12px;
          color: #333;
        }

        span {
          font-size: 12px;
          color: #777;
          margin-left: 5px;
        }
      }

      p {
        margin: 0;
        font-size: 14px;
        color: #000;
        line-height: 1.4;
        font-weight: 400;
      }

      .comment_img {
        margin-top: 0.5rem;
        width: 100%;
        max-width: 60%;

        img {
          border-radius: 5px;
          width: 100%;
          transition: opacity 0.2s ease-in-out;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
}
