.detail-media-container {
  width: 70%;
  margin: 0 auto;
  background-color: #eef5ff !important;
  caret-color: transparent;

  .detail-media {
    margin: 2.5rem 0;
    border-radius: 40px;
    height: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    background-color: #fefefe;

    .left-view {
      height: 80vh;
      width: 40%;

      img,
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;
      }
    }
    .right-view {
      width: 60%;

      .action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px;

        .action-left {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;

          button {
            border: none;
            outline: none;
            background-color: inherit;
            border-radius: 100px;
            padding: 0.85rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:active {
              outline: 3px solid #206aa3;
            }
            &:hover {
              background: #ddd;
            }
          }
          img {
            width: 24px;
            cursor: pointer;
          }
          span {
            margin-left: 0.3rem;
            font-weight: 500;
            font-size: 18px;
          }
        }
        .action-right button {
          border: none;
          outline: none;
          margin-left: 10px;
          padding: 15px 25px;
          cursor: pointer;
          border-radius: 30px;
          font-size: 18px;
          font-weight: 500; // Cái này sẽ làm chữ đậm hơn 500 và nhỏ hơn 600

          &.album {
            background-color: inherit;

            &:hover {
              background-color: #ddd;
            }
            &:active {
              transform: scale(0.95);
              transition: transform 0.1s ease-in-out;
            }
          }
          &.save {
            background-color: #d42364;
            color: #fff;

            &:hover {
              background-color: #92103f;
            }
            &:active {
              transform: scale(0.95);
              transition: transform 0.1s ease-in-out;
            }
          }
        }
      }

      .comment {
        min-height: 500px;
        max-height: 500px;
        overflow-y: auto;
        .user_owner {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 40px;
          background-color: #ffffff;

          .user {
            display: flex;
            justify-content: center;
            align-items: center;

            .info {
              margin-left: 0.7rem;
              span {
                font-size: 16px;
                margin-bottom: 3px;
                display: block;
                text-align: left;
              }
            }
            img {
              border-radius: 100%;
              width: 55px;
              height: 55px;
              cursor: pointer;
            }
          }
          .follow {
            border: none;
            outline: none;
            margin-left: 10px;
            padding: 15px 25px;
            cursor: pointer;
            border-radius: 50px;
            font-size: 18px;
            font-weight: 500;
            border: 1px solid #ccc;
            background: #f9f7f7;

            &:hover {
              background-color: #f9f7f7;
            }
            &:active {
              transform: scale(0.95);
              transition: transform 0.1s ease-in-out;
            }
          }
        }
      }
    }
  }
}

.menu-album {
  min-width: 450px;
  caret-color: transparent;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Thêm box-shadow cho container */
  border-radius: 8px; /* Thêm border-radius nếu bạn muốn góc bo tròn */
  .top-menu-album {
    font-weight: bold;
    padding: 20px;
    background-color: #fff; /* Màu nền */
    border-bottom: 1px solid #d9d9d9; /* Đường viền dưới */
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 16px;
    }
  }

  .list-album {
    .item-album {
      padding: 20px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .album-info {
        display: flex;
        align-items: center;
        flex-grow: 1; 

        img {
          width: 60px;
          height: 60px;
          object-fit: cover;
          border-radius: 10px;
          margin-right: 15px;
        }

        span {
          font-size: 18px;
          font-weight: 500;
        }
      }

      .save-button {
        padding: 16px 20px;
        font-size: 14px;
        background-color: #d42364;
        color: white;
        border: none;
        border-radius: 30px;
        cursor: pointer;

        &:hover {
          background-color: #92103f;
        }
      }
    }
  }
}
