.detail-media-container {
  min-width: 65%;
  margin: 0 auto;
  background-color: #f9fbfd !important;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .detail-media {
    margin: 2.5rem 0;
    border-radius: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.7);
    max-width: 65%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    .left-view {
      display: flex;
      height: auto;
      min-width: auto;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      overflow: hidden; /* Thêm dòng này để cắt góc ảnh/video */

      img,
      video {
        width: 100%;
        object-fit: contain;
        max-width: 100%;
        max-height: 80vh; /* Đảm bảo chiều cao không vượt quá 80% chiều cao viewport */
      }
    }

    .right-view {
      min-width: 55%;
      min-height: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      overflow: visible;

      .right-top-view {
        padding: 25px 25px 0 20px;
        width: 100%;

        .action {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .action-left {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 14px;

            button {
              border: none;
              outline: none;
              background-color: inherit;
              border-radius: 100px;
              padding: 0.3rem;
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;

              &:active {
                outline: 3px solid #206aa3;
              }
              &:hover {
                background: #ddd;
              }
            }
            img {
              width: 24px;
              cursor: pointer;
            }
            span {
              margin-left: 0.3rem;
              font-weight: 500;
              font-size: 18px;
              height: 100%;
            }
          }

          .action-right button {
            border: none;
            outline: none;
            margin-left: 10px;
            padding: 12px 18px;
            cursor: pointer;
            border-radius: 30px;
            font-size: 16px;
            font-weight: 500;

            &.album {
              background-color: inherit;

              &:hover {
                background-color: #ddd;
              }
              &:active {
                transform: scale(0.95);
                transition: transform 0.1s ease-in-out;
              }
            }

            &.save {
              background-color: #d42364;
              color: #fff;

              &:hover {
                background-color: #92103f;
              }
              &:active {
                transform: scale(0.95);
                transition: transform 0.1s ease-in-out;
              }
            }
          }
        }

        .description {
          text-align: left;

          span {
            font-size: 16px;
          }
        }

        .user_owner {
          z-index: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #ffffff;

          .user {
            display: flex;
            justify-content: center;
            align-items: center;

            .info {
              margin-left: 0.7rem;
              span {
                font-size: 14px;
                margin-bottom: 4px;
                display: block;
                text-align: left;
              }
            }

            img {
              border-radius: 100%;
              width: 50px;
              height: 50px;
              cursor: pointer;
            }

            img:hover {
              filter: brightness(0.9);
            }
          }

          button {
            border: none;
            outline: none;
            margin-left: 10px;
            padding: 12px 24px;
            cursor: pointer;
            border-radius: 50px;
            font-size: 16px;
            font-weight: 500;
            border: 1px solid #ccc;

            &:hover {
              background-color: #f9f7f7;
            }

            &:active {
              transform: scale(0.95);
              transition: transform 0.1s ease-in-out;
            }
          }

          button.following {
            background: #000;
            color: #fff;
          }

          button.follow {
            background: #f9f7f7;
          }
        }
      }
    }
  }
}

.menu-album {
  min-width: 350px;
  outline: none;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;

  .top-menu-album {
    outline: none;
    font-weight: bold;
    padding: 20px;
    background-color: #fff; /* Màu nền */
    border-bottom: 1px solid #d9d9d9; /* Đường viền dưới */
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 14px;
    }
  }

  .list-album {
    .item-album {
      padding: 20px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      .album-info {
        display: flex;
        align-items: center;
        flex-grow: 1;

        img {
          width: 60px;
          height: 60px;
          object-fit: cover;
          border-radius: 10px;
          margin-right: 15px;
        }

        span {
          font-size: 18px;
          font-weight: 500;
        }
      }

      .save-button {
        padding: 14px 20px;
        font-size: 14px;
        background-color: #d42364;
        color: white;
        border: none;
        border-radius: 30px;
        cursor: pointer;

        &:hover {
          background-color: #92103f;
        }
      }
    }
  }
}
